/*!**************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/assets/sass/modules/app.module.scss ***!
  \**************************************************************************************************************************************************************/
* {
  user-select: none;
}

.Kb61TmC598djfETzRqNp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.us7Su0BEMQh6gOKglQh2 {
  display: flex;
  gap: 20px;
  align-items: center;
}

.wtYcfjIa4wvpQVAP31UQ {
  font-size: 10px;
}

.fqw7k1kWQmC92EGkGmAr,
.s9BoKbyrdFxXPthUelAO {
  will-change: filter;
  transition: filter 300ms;
}

.fqw7k1kWQmC92EGkGmAr:hover,
.s9BoKbyrdFxXPthUelAO:hover,
.k3WaRuQaDcgIF8DWulSu:hover {
  filter: drop-shadow(0 0 2em rgba(231, 247, 0, 0.9843137255));
}

.fqw7k1kWQmC92EGkGmAr {
  width: 10vh;
}

.s9BoKbyrdFxXPthUelAO {
  width: 20vh;
}

.k3WaRuQaDcgIF8DWulSu {
  width: 10vh;
  padding: 10px;
}

.gzKlxvljYhPMUXNmqeQy,
.Rx_a56d7HDaal0aBjcrA {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gzKlxvljYhPMUXNmqeQy {
  width: 100%;
  height: 100vh;
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(0, 0, 0) 0%, rgb(234, 255, 0) 95%);
  flex-direction: column;
}

.Rx_a56d7HDaal0aBjcrA {
  gap: 20px;
}

.GCT_5gBj29R91y_IMIA7 {
  font-weight: 400;
}

.VlJ2pIwRs63B7tRxZO_o {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  will-change: filter;
  transition: filter 300ms;
}

.VlJ2pIwRs63B7tRxZO_o:hover {
  background-color: rgb(236, 236, 127);
  transition: 0.5s;
  filter: drop-shadow(0 0 2em rgba(231, 247, 0, 0.9843137255));
}

.wURJ7t80OgPFdXy383q5 {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  width: 100%;
}

.wf184ssnKUWF7Mq0oKBP {
  width: 20vh;
}

.cHoTKZB3aGVWded898Sj {
  display: flex;
  gap: 20px;
  padding: 30px;
}

.izPjg4CBoQZMHAcQzOYR {
  background-color: gray;
  padding: 10px;
  border-radius: 5px;
  will-change: filter;
  transition: filter 300ms;
}

.izPjg4CBoQZMHAcQzOYR:hover {
  background-color: rgb(236, 236, 126);
  transition: 0.5s;
  filter: drop-shadow(0 0 2em rgba(231, 247, 0, 0.9843137255));
}

@media screen and (max-width: 760px) {
  .Rx_a56d7HDaal0aBjcrA {
    flex-direction: column;
    transition: 0.5s;
  }
}
@media screen and (max-width: 564px) {
  .cHoTKZB3aGVWded898Sj {
    flex-direction: column;
    width: 100%;
    transition: all 0.5s;
  }
  .izPjg4CBoQZMHAcQzOYR {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wURJ7t80OgPFdXy383q5 {
    padding: 2px 10px;
  }
}
@media screen and (max-width: 486px) {
  .GCT_5gBj29R91y_IMIA7 {
    font-size: 6vw;
  }
  .Kb61TmC598djfETzRqNp {
    font-size: 3vw;
  }
  .wf184ssnKUWF7Mq0oKBP,
  .k3WaRuQaDcgIF8DWulSu {
    width: 20vw;
  }
}
